table {
    border-collapse: 1px;
    /*border-spacing: 0;
    width: 100%;*/
    border: 1px solid black;
    margin-left: 200px; 
    margin-right: 200px;
  }
  /*
  table.center{
    margin-left: auto; 
    margin-right: auto;
  }
  */
  
  th, td {
    border: 1px solid black;
    text-align: left;
    padding: 16px;
  }
  tr:nth-child(1)
  {
    background-color:rgb(121, 123, 126);
  }
  
  tr:nth-child(even) {
    background-color: yellow;
  }